body {
  min-width: 410px;
  margin-left: auto;
  margin-right: auto;
}

.back {
  font-size: 30px;
  position: absolute;
  left: 13%;
  top: 10%;
  margin: auto;
}

th {
  background-color: #ffffff;
}

tr.odd {
  background-color: #f2f2f2;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
}

.pagination {
  float: left;
}

.button {
  background: #bccfdb;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2eaf0), to(#bccfdb));
  padding: 5.5px 11px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  color: #000000;
  font-size: 14px;
  font-family: Trebuchet MS, serif;
  text-decoration: none;
  float: right;
}

.button:hover {
  background: #3296d9;
  color: #ffffff;
  text-decoration: none;
}